

footer{
    background-color: #f2f2f2;
    padding-top: 40px;

   }

.footer-menu{
    display: flex;
    justify-content: center;

  
    
}

.footer-col{

    width: 30%;
    /* background-color: aqua;
    border: 1px solid grey; */
    display: grid;
    place-items:center;
    margin-bottom: 40px;
    
}

.footer-col ul{
    list-style: none;
}


.footer-col h4{
    line-height: 3;
    color: rgb(59, 59, 59);

}


.footer-col ul li a{
     text-decoration: none;
     color: rgb(134, 134, 134);
}


p{
    text-align: center;
    line-height: 3;
    color: rgb(59, 59, 59);

}

